@{
    ViewBag.Title = "Quiz Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="quiz-master" class="container text-center ">
    <h2 class="title">Quiz Master</h2>
    <div id="quiz-section" class="hidden">
        <div class="jumbotron">
            <h3 id="card">What is the meaning of life according to Hitchhiker's Guide to the Galaxy?</h3>
        </div>
        <input id="see-answer" type="button" value="See Answer" class="btn btn-primary" />
        <input id="next-card" type="button" value="Next Card" class="btn btn-default hidden" />
        <input id="restart-quiz" type="button" value="Quiz Again" class="btn btn-danger hidden" />
        <input id="new-quiz" type="button" value="New Quiz" class="btn btn-default hidden" />
    </div>
    
    <div id="upload-file-container" style="text-align: left">
        <h3>Upload a Quiz</h3>
        <h4>A quiz consists of 2 files, one for questions and one for answers, and the file names must contain "questions" and "answers" respectively.</h4>
        <input id="quiz-file" type="file" multiple class="pull-left" />
        <input id="upload-file" type="button" value="Upload" class="btn btn-primary" />
    </div>
</div>

@section scripts {
    <script src="~/src/utils.js"></script>
    <script src="~/src/quizService.js"></script>
    <script src="~/src/quizMasterPlugin.js"></script>

    <script>
        $("#quiz-master").quizMaster();
    </script>
}